//importando arquivo sass
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

//criando tema de cores
$purple:#A020F0;
$DarkSlateBlue:rgb(66, 55, 139);
$DarkSlateBlue2: rgb(137, 123, 240);
$SlateBlue3:#6959CD;
$white: rgb(212, 211, 211);
$gray1: #333;
$gray2: #666;
$gray3: #999;

$theme-colors:(
	"purple":$purple,
	"darkslateblue":$DarkSlateBlue,
	"slateblue":$SlateBlue3
);

.container-fluid{
	padding: 0 10%;
}

.btn{
	color: $DarkSlateBlue;
	border-color: $DarkSlateBlue !important;
	border-radius: 7px;
}
.btn:hover{
	color: $white;
	background-color: $DarkSlateBlue;
}

header{
	nav{
		a{
			color: $gray2;
			font-weight: 600;
			text-align: center;
		}
		a:hover{
			color: $gray2;
		}
	}
}

.sobre-navi{
	padding : 70px 0;

	p{
		color: $gray3;
		font-size: 23px;
		margin: 50px 0;
	}
	.btn-grande{
		padding: 15px 60px;
		border-radius: 10px;
	}
}

h2.titulo-sessao{
	font-size: 30px;
	padding-bottom: 30px;
	color: $gray2;
}

.projetos{
	border-top: 2px solid rgba(230, 230, 230, 0.897);
	padding: 100px 0 50px 0;

	.projeto{
		padding-right: 30px;

		img{
			box-shadow: 0 2px 3px $gray3;
		}
		h3{
			margin: 17px 0;
			color: $gray1;
		}
	}
}

.noticias{
	padding: 70px 0;

	.ultima-noticia{
		margin-bottom: 50px;
		.titulo-noticia{
			font-size: 22px;
			margin: 20px 0;
		}
		p{
			color: $gray3;
		}
	}
	.outras-noticias{
		padding-left: 35px;

		a{
			color: $gray2;
		}
		div.link-todas-as-noticias{
			margin-top: 50px;
			
			a{
				color: $DarkSlateBlue;
				font-size: 20px;
				text-decoration: underline;
			}
		}
		p{
			color: $gray3;
		}
	}
}

footer{
	background-color: $DarkSlateBlue;
	padding: 50px 0;

	.container-fluid{
		padding: 0 8%;

		img{
			width: 55%;
			margin-bottom: 20px;
		}
		h3{
			color: $DarkSlateBlue2;
			font-size: 23px;
		}
		a{
			color: $white;
			text-decoration: underline;
			display: block;
			margin-bottom: 12px;
		}
		a:hover{
			color: $DarkSlateBlue2;
		}
		p{
			color: $white;
			font-size: 14px;
			font-weight: 100;
			margin-bottom: 20px;

			strong{
				font-weight: 600;
			}
		}
		form{
			//Alterando a cor do placeholder
			::-webkit-input-placeholder {
				color: $gray3;
			}
			:-moz-placeholder { /* Firefox 18- */
				color: $gray3;  
			}
			::-moz-placeholder {  /* Firefox 19+ */
				color: $gray3;  
			}
			:-ms-input-placeholder {  
				color: $gray3;  
			}
			*{
				outline: none;
				color: $white;
				width: 100%;
				border: 0;
				background-color: $DarkSlateBlue;
				font-size: 13px;
			}
			input{
				border-bottom: 1px solid white;
				padding: 10px 5px;
				margin-bottom: 35px;
			}
			textarea{
				border-bottom: 3px solid white;
				padding: 50px 0;
				margin-bottom: 20px;
				resize: none;
			}
			button{
				border: 1px solid $white !important;
				padding: 10px;
				font-size: 16px;
			}
		}
	}
}

